rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /payments/{paymentId} {
      allow read, write: if true;
    }
    match /raw_sms/{smsId} {
      allow read, write: if true;
    }
    match /duplicates/{duplicateId} {
      allow read, write: if true;
    }
  }
}
